<div class="terms-and-conditions">
    <h1>Conditions générales de vente</h1>

    <p>
        Lorem ipsum dolor sit amet. Est commodi laborum et galisum ullam 33 aliquid ipsum est exercitationem voluptatem.
        Est unde natus id sapiente deleniti ea iure quisquam est sunt dolores ut totam distinctio aut quod omnis qui
        quia unde? Ab quos inventore et nostrum necessitatibus et natus velit et asperiores incidunt. Aut enim
        cupiditate id ratione iste in cupiditate nihil eos vitae delectus a dolor assumenda. Est sapiente rerum est
        quaerat voluptatem et perferendis perferendis cum adipisci consectetur vel quos ipsum qui obcaecati praesentium
        qui rerum dolorem. Et aperiam atque ad reprehenderit dolor nam quis voluptas Quis officiis quae omnis in
        molestias alias 33 veritatis laboriosam. Non totam vitae non culpa perferendis ea mollitia rerum id consequuntur
        quis. Sed exercitationem quia ex debitis veniam et voluptatum odit ea nulla nobis. Aut omnis velit in sint est
        consectetur doloribus qui possimus similique ut distinctio quae. Aut quibusdam dolor ea quis vero et quasi
        voluptatem hic aperiam omnis. Nam voluptates dolorem ea suscipit nisi qui veniam rerum ut sapiente blanditiis
        non sint laudantium. Hic debitis pariatur qui ullam consequuntur et quia eligendi? In nemo veritatis sit
        architecto repudiandae aut suscipit aspernatur et natus magni quo repellat earum et quis enim. Qui nihil
        voluptatem et culpa fugiat non eveniet sapiente.
    </p>

    <p>
        Sit molestias autem et fugiat eligendi est voluptatem dignissimos et commodi odio aut consectetur fugit sed
        facilis impedit! Et iste explicabo ut incidunt consequuntur qui porro corporis id magni iure sit quae debitis.
        Et dolores quod id optio perspiciatis sed quod quasi nam suscipit repellendus hic error magnam et dolorem
        laborum rem quis dolorem. Ex reiciendis commodi ad sunt perspiciatis ab molestiae consequuntur qui dolore
        excepturi ut repudiandae modi ad delectus voluptatem sed distinctio facere. Quo explicabo pariatur eos iure
        obcaecati qui unde totam. Nam libero accusamus quo omnis totam 33 eaque ipsa ex molestias voluptas. Vel
        consequuntur quibusdam ut minus adipisci vel accusantium saepe. Quo magnam voluptas qui consectetur dignissimos
        id praesentium excepturi qui praesentium aliquid sed reiciendis perspiciatis ut iste obcaecati. Eos suscipit
        quia aut ipsam nulla est illum eligendi. 33 voluptas Quis in officia veritatis rem optio officia ad deserunt
        expedita. Qui autem odit et quis nisi hic debitis totam sit delectus rerum in vero nisi ut culpa sequi.
    </p>

    <p>
        Qui voluptates quia et earum sequi eos optio quibusdam non internos nobis qui repellat voluptates. Qui molestias
        rerum sed quia dolor aut sint laborum qui nemo inventore aut accusantium consequatur et velit sapiente et cumque
        voluptas. Aut ipsam eius aut aliquam minima et dolor quam non distinctio similique quo minima alias. Aut nobis
        quae aut recusandae odio commodi voluptatum in officia perspiciatis. In voluptas dolor id harum sunt ab quas
        beatae aut veniam nisi ab sint reprehenderit. Et galisum mollitia ad enim esse id nesciunt temporibus. Sed quia
        voluptas aut modi excepturi et laboriosam quos et voluptatem voluptas. Eos adipisci galisum sit expedita
        obcaecati qui illum amet. Est quia illum aut assumenda voluptatem quo rerum consequatur ex nostrum odio id vitae
        voluptatem. Ea ullam nostrum cum dignissimos aperiam ut rerum molestias sed numquam officiis et mollitia commodi
        quo architecto officiis et dicta facere. 33 harum accusantium eos repellendus quis et reprehenderit ipsa est
        distinctio quod et quibusdam eaque ab optio molestias et maxime impedit.
    </p>

    <p>
        Eum quis rerum qui eligendi minus et inventore facere nam voluptatem voluptas. Est error rerum sed dolores odit
        eius nesciunt et quaerat ipsa in omnis natus et minima eius. Et labore consequatur est illum aspernatur aut unde
        laudantium. Et vitae dicta ut nobis tempore in culpa modi et dolor ipsam et porro praesentium. Et nesciunt
        consequuntur et deleniti iste ad ratione corrupti ut iure quidem ut beatae expedita. Sed doloribus quas et
        tempore perspiciatis aut cumque provident non sequi adipisci qui aspernatur voluptas eos voluptas culpa sed
        fugit commodi. Dolores asperiores qui facere galisum aut omnis dolorum. Et consequatur delectus qui Quis
        veritatis eos asperiores cupiditate ut neque esse est fuga doloremque? In quisquam quia et repellat culpa ea
        voluptatem repudiandae ut dolorum quia. Qui fugit temporibus cum inventore quibusdam qui error esse et odio odit
        aut Quis fugiat. In quod corporis aut quia consequatur qui voluptas sapiente aut ducimus possimus et omnis
        deserunt rem veniam molestiae.
    </p>

    <p>
        Sed eligendi alias hic saepe inventore non quia facilis? Aut voluptas repellendus aut laboriosam consequatur cum
        adipisci sunt. Ex consectetur eaque et error saepe id voluptas laboriosam ex iste laborum. Et illo iusto hic
        reiciendis nihil sed perspiciatis numquam. Et voluptas ipsa 33 quia natus eos voluptas sint vel rerum dolor qui
        temporibus voluptatibus in iure praesentium est illum asperiores! Eos possimus molestiae sed laborum ipsum eum
        molestiae deleniti rem reprehenderit nemo? Id nesciunt ipsa ad veniam eius et molestias cupiditate est totam
        temporibus. At earum dolor aut itaque laudantium quo sapiente recusandae a molestias fuga. Non natus sapiente
        aut nulla odio eum rerum magnam vel corporis pariatur quo dolore suscipit. Et facere totam 33 error dignissimos
        nam voluptate sint. Aut accusantium provident est asperiores aliquam a rerum repellendus. Sit dolorem illum est
        dolorum voluptatibus et excepturi voluptatibus aut iste quam cum magnam doloremque nam nihil reiciendis sed
        cupiditate consequatur. Ut ducimus beatae est magni iste vel natus odio non unde velit eos ipsam internos hic
        temporibus minus. Et maxime quia aut autem soluta sit nemo quos vel excepturi dicta et officiis necessitatibus
        ex sunt inventore.
    </p>

    <h1>Conditions générales d'utilisation</h1>

    <p>
        Lorem ipsum dolor sit amet. Eum voluptate explicabo et dolorum voluptatem sit laborum commodi! Qui cupiditate
        recusandae est laborum eligendi in perferendis aliquam sit velit minus! Et modi praesentium nam similique
        commodi qui cumque tempore. Est voluptatem minus est numquam voluptas sit dolorem consequuntur. Hic dolor
        perferendis hic inventore dolores qui aliquam quia. Eum temporibus molestiae est suscipit ipsa ut similique
        molestias est consequatur earum! Et itaque accusamus et voluptatem voluptatum et aperiam eum neque delectus qui
        totam excepturi. Est sint libero non debitis quia et architecto aliquid non quasi tempore et neque omnis. Est
        enim nostrum sed voluptatem voluptas est molestias fugiat sit voluptas itaque. Eos mollitia esse rem maxime sint
        ut saepe reprehenderit qui pariatur tempora sed voluptatum dolorem sed veniam omnis aut numquam corrupti. Ab
        illum earum sit quia officiis aut accusamus nemo ut maxime dicta id officia necessitatibus 33 quia voluptatem.
        Hic accusamus galisum nam nihil distinctio sed incidunt quis. Ad esse illum aut nulla quod ab provident fuga sit
        expedita ducimus rem dolor est mollitia quia in unde aliquid. Sed error laborum id quod excepturi qui dolore
        fuga.
    </p>

    <p>
        Et enim totam sit consequatur nulla qui soluta necessitatibus vel corporis quae. Sit inventore voluptatum id
        accusamus dolor rem quia eveniet ut saepe voluptas est perferendis veniam hic quibusdam voluptatem ea voluptate
        quia. Eum facere ipsa sit harum voluptatum ut nihil laudantium. Eum nesciunt dolorem non tempora facilis aut
        iure pariatur qui voluptas illum et aspernatur quia ut optio quos ut ratione cumque. Non architecto nesciunt est
        consequatur culpa aut consequatur atque est molestias quaerat ut architecto tempora aut cupiditate sint. Id
        galisum dolor est repellendus odio ullam iste cum nulla eius est nemo aliquid qui maxime possimus. In
        repellendus repudiandae sit veritatis labore explicabo asperiores ut deserunt officiis aut quia voluptatem. Ut
        facere consectetur eum saepe veritatis qui omnis voluptatem hic magni molestias ut repellendus aperiam qui
        suscipit voluptas ut sequi porro. Non consectetur odit ut nisi repellendus et temporibus itaque eum ratione
        laborum? Sed sint nihil sit voluptates similique ducimus nostrum sed ducimus provident et dolor autem ab
        voluptas recusandae ad esse galisum? Aut dolores deleniti sit quasi dolore ut dolor sunt eos consequatur labore
        vel velit tempore aut numquam modi. Cum optio impedit et sint optio in excepturi ipsam qui recusandae illum aut
        perferendis assumenda consectetur quaerat et corrupti pariatur. Hic deleniti beatae a asperiores placeat cum
        nemo sunt et veniam reiciendis qui sequi obcaecati et corrupti illum sed porro deserunt. Et voluptatem expedita
        sed iusto facilis ut libero quis aut minus dolor!
    </p>

    <p>
        Et repudiandae velit quo iusto veritatis aut quis animi ut earum excepturi sed laudantium pariatur cum dolorem
        quibusdam ut alias soluta. In quis enim non numquam dolores est eius dicta rem eveniet dolorum ut nesciunt sunt
        ut autem omnis. Vel aliquam nisi ab blanditiis minima ea ipsam perspiciatis. In consequatur dolorum qui
        perspiciatis officiis ut dolore molestiae in molestiae voluptas? Sed doloribus aliquid qui libero internos eum
        molestias unde sed dolorum reiciendis et esse neque qui voluptatibus rerum ut sunt atque. A labore optio sed
        aspernatur cumque qui omnis repellendus. At minus nulla ut quidem est ipsum numquam est dignissimos suscipit quo
        minima voluptatem eum unde similique. Qui velit voluptatem rem aliquam minima id iure natus eos dolorem culpa
        non iure omnis! Eos consequatur enim ad sequi necessitatibus eum enim molestiae nam delectus voluptatem eos
        voluptatibus praesentium. Et fuga omnis aut fugiat voluptatem totam doloribus est ratione culpa eos eveniet
        alias. Et omnis alias ad delectus accusamus aut consectetur optio est quidem galisum aut voluptatem facilis.
    </p>

    <p>
        Consequatur officia qui ipsum galisum quo aspernatur corrupti a consequatur pariatur. Non minima maiores quo
        dolorem aut quia voluptatum ut consequuntur veniam ab voluptatem facere. Rem repudiandae dignissimos ut quia
        iusto At veniam eligendi et doloremque doloribus eos possimus rerum. Vel internos labore est culpa velit rem
        placeat cumque. 33 fugit velit eum officiis velit ea animi error a fuga reiciendis? Et nihil error et ipsa
        internos vel quasi rerum eos veritatis sint ut quaerat aperiam. Et dolorem reprehenderit ut porro sequi non
        debitis itaque. Est ducimus repudiandae ut ipsum necessitatibus id omnis eveniet sed quia praesentium id
        consequatur cumque? Ut saepe dolore est fuga earum vel voluptates omnis a sapiente officia non ducimus vero non
        asperiores impedit. Sed nemo sequi ut exercitationem voluptatum et quos itaque sit molestiae Quis ut dolorem
        repellendus et delectus dolor qui reiciendis alias. Et provident incidunt sed dolorem debitis vel nesciunt
        minima est eligendi sint sit impedit architecto. Sed eius expedita et voluptatum amet eos voluptatem ullam et
        quae vero aut molestiae veritatis sit recusandae recusandae a dolor facilis. Est doloribus nihil non velit
        consequatur et harum sint cum eligendi distinctio aut iure facere qui quod autem. Ab vero nemo non voluptatem
        quibusdam ea voluptatibus maxime ad veniam exercitationem vel eaque reprehenderit est omnis necessitatibus quo
        exercitationem eius!
    </p>

    <p>
        Cum consequatur aspernatur 33 error expedita et omnis autem. Sed temporibus fugiat aut delectus temporibus
        nesciunt consequatur ab fugit praesentium est sunt eaque 33 quisquam consequatur. Ut nesciunt fuga qui deserunt
        esse est dolores omnis et quaerat commodi rem rerum perspiciatis sit optio asperiores non officiis ducimus. At
        officiis libero sed eligendi dicta sit nisi quam. Et blanditiis totam ut eligendi quia rem dolorem dolor id eius
        repellat ab excepturi expedita est facere accusamus. In atque corporis et laudantium porro et quia quia sed
        provident labore quo odit praesentium ea eveniet doloribus. Sit quaerat similique eum laborum esse ex tempora
        quasi aut sequi voluptatem ab distinctio fugit est ipsum molestias non omnis obcaecati. Qui aspernatur
        architecto hic voluptates debitis vel dolorum odio ex dolor temporibus qui reprehenderit quae id laborum alias.
        Cum totam placeat et reiciendis delectus rem debitis dolore aut doloremque assumenda est enim repudiandae
        galisum ullam ut ipsam distinctio. Ea voluptas dolores et voluptatibus quisquam et dolores explicabo qui
        corrupti quia ut impedit perferendis. Ea unde aliquid et tempore quia ab recusandae consequuntur qui dolores
        voluptatem eos magnam nihil eos quos consequatur id quos beatae. Qui dolorum dolor et reiciendis dolorum id modi
        culpa qui enim illum vel doloribus minima in quasi sint qui numquam velit. Et harum sint aut temporibus commodi
        aut quibusdam dicta voluptatem eveniet et tenetur dolor. Sed assumenda fugit et explicabo molestias quo aliquam
        nobis.
    </p>
</div>