<div class="privacy-statement">
    <h1>Politique de confidentialité</h1>

    <p>
        Lorem ipsum dolor sit amet. Quo nisi itaque ut omnis ullam ab quaerat voluptate At dolor veritatis et
        consequuntur dolorem. Sed Quis tenetur et maiores possimus a neque iusto sed consectetur aliquam aut
        exercitationem quibusdam. Sed obcaecati eligendi At molestias dolorum et deserunt necessitatibus qui iusto quia.
        Hic quidem aut repudiandae quae qui ducimus dolorem et velit commodi hic dolore illo est dolores nihil ut
        provident suscipit. Quo quia autem qui quae fugit sed necessitatibus omnis cum ipsam quia At eius cupiditate sit
        asperiores quia? In commodi dignissimos et quos iste non cupiditate veritatis aut labore perspiciatis! Id quae
        ipsa sed deserunt cupiditate ab voluptatem distinctio sit nihil dolorum et porro alias. A rerum nihil sit
        cupiditate vitae ex voluptate consequatur ut distinctio dolor.
    </p>

    <p>
        Non consequatur exercitationem sit molestiae atque qui reprehenderit enim id labore deserunt est quia mollitia?
        Quo vero animi ut quam rerum ut nihil aperiam ut sapiente quis et velit aperiam At inventore aliquam. Est
        veritatis galisum nam officiis tempore non quasi aliquid qui rerum natus non doloremque voluptas. 33 perferendis
        incidunt non nihil ipsa ut fugit veniam. Et voluptatibus minus qui libero beatae ut nostrum rerum! At
        perspiciatis iusto nam illo velit id laboriosam magnam et quaerat voluptatem eum sunt quod hic voluptatem Quis
        qui dolore cumque. Et repudiandae quae id accusantium commodi sit facere molestias sit quibusdam accusamus in
        commodi dolor. Et labore nesciunt est autem et praesentium deserunt. Et laboriosam voluptatum qui animi
        asperiores ut expedita Quis et expedita laboriosam quo dolores fugiat et amet expedita et obcaecati nesciunt.
        Sit culpa neque qui necessitatibus earum cum galisum delectus est iure labore et nihil voluptas aut reiciendis
        corporis qui nobis modi. Ea placeat odio et fugit vitae nam voluptas quia eum illum reprehenderit!
    </p>

    <p>
        Est fugiat quisquam sit laboriosam necessitatibus ad quia illo id aliquam illo et provident tempora et quam
        omnis sit fugit libero. Sed possimus odio non dolorem magni ut voluptatem temporibus qui asperiores similique et
        magni quia! Eum distinctio galisum qui eligendi aperiam aut doloribus asperiores cum tempora accusantium eum
        vero sequi ut expedita sunt. Rem dolores distinctio cum ipsum laboriosam non vitae ratione aut optio enim. Cum
        cumque quis nam nihil reprehenderit et dolorum rerum est harum impedit ut enim perspiciatis vel voluptas
        corrupti. Et dolores mollitia sit assumenda iure eos enim dolorum. In obcaecati accusamus aut illo nostrum aut
        atque voluptates eos impedit quia ab omnis fugiat. Ad aspernatur nesciunt qui perferendis saepe ut natus
        veritatis eum unde minus.
    </p>

    <p>
        Quo voluptates quisquam id sint exercitationem ut harum repellendus hic quaerat earum cum adipisci quibusdam. Id
        dolorem sunt ut recusandae quis et rerum amet non provident accusamus sit blanditiis soluta ut excepturi
        corrupti eum internos cumque. Aut inventore veniam non quos earum ea obcaecati deleniti aut iure quod aut
        similique nobis. Quo quia facilis id sapiente atque ut aperiam beatae ut magni sapiente vel omnis tempore vel
        quisquam perferendis! Aut quia tenetur aut nisi dolor eos earum sequi sit quae facere non laudantium quae et
        veritatis officiis id dolorum voluptatum. Qui asperiores repudiandae et mollitia quasi est libero accusamus et
        iure autem. Aut accusamus itaque ut galisum atque in officiis soluta ad maiores placeat nam dignissimos natus? A
        fuga inventore cum repudiandae odit ut explicabo galisum vel explicabo quae eum minus voluptatum.
    </p>

    <p>
        Quo dolorum galisum ad repellat tempora sed dicta unde. Et quos excepturi non repudiandae optio est nesciunt
        consequatur ab atque enim in sunt autem in itaque sint? A maiores nulla in consequatur amet ea saepe tempore est
        maxime internos hic harum quam. Quo internos accusamus nam similique nostrum et eaque atque aut enim velit. Est
        doloribus galisum et dolorum voluptas cum eligendi possimus quo nesciunt sunt. Et saepe nobis vel quibusdam sit
        inventore reprehenderit. Qui sapiente ipsum id galisum nemo ea internos consectetur non architecto ipsum non
        veniam odio aut dolor fuga. Id earum voluptas ex dolore dolores et consequatur galisum non alias repellat vel
        nesciunt enim. Non laudantium omnis eos error rerum et aliquid provident. Ut voluptates rerum rem voluptas
        numquam id esse quae non reprehenderit quis est maiores necessitatibus. Sed ipsam molestiae non velit libero in
        eius consequatur et explicabo dolores.
    </p>
</div>