:root {
    --clr-primary: #FBF8F3;
    --clr-secondary: #2D2D2D;
    --clr-tertiary: #9EFD38;
    --clr-quaternary: #7C98FC;
    --clr-quinary: #B2FC62;
    --clr-senary: #FC7049;
    --clr-septenary: #B0553C;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html,
body,
button,
textarea,
input,
select,
* {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--clr-primary);
}
