:root {
    --bg-clr-primary: #FFFFFF;
    --bg-clr-secondary: #2D2D2D;
    --bg-clr-tertiary: #9EFD38;

    --clr-primary: #9EFD38;
    --clr-secondary: #7C98FC;
    --clr-tertiary: #B2FC62;
    --clr-quaternary: #FC7049;
    --clr-quinquennial: #B0553C;

    --fnt-clr-primary: #2D2D2D;
    --fnt-clr-secondary: #FFFFFF;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html,
body,
button,
textarea,
input,
select,
* {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
