<div class="footer">
    <div class="footer__social">
        <a href="#">D</a>
        <a href="#">U</a>
        <a href="#">C</a>
        <a href="#">K</a>
    </div>
    <div class="footer__menu">
        <div class="footer__services">
            <h1>Services</h1>
            <a href="#">Accès à la salle</a>
            <a href="#">Cours individuels</a>
            <a href="#">Cours collectifs</a>
            <a href="#">Cours à la maison</a>
        </div>
        <div class="footer__teams">
            <h1>L'équipe</h1>
            <a href="#">Les coachs</a>
            <a href="#">Le personnel administratif</a>
        </div>
        <div class="footer__general">
            <h1>Généralités</h1>
            <a href="#">Politique de confidentialité</a>
            <a href="#">Conditions générales</a>
            <a href="#">Mentions légales</a>
        </div>
    </div>
    <p class="footer__copyright">Finally-Fit © 2022</p>
</div>