.footer {
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // SOCIAL BAR  
    &__social {
        width: 100%;
        padding: 25px 0;
        background-color: var(--clr-secondary);
        display: flex;
        justify-content: center;
        a {
            margin: 0 25px;
            padding: 10px;
            border: 1px solid var(--clr-primary);
            border-radius: 50%;
            font-size: 1.1em;
            color: var(--clr-primary);
        }
    }
    // FOOTER MENU
    &__menu {
        padding: 25px 50px;
        background-color: var(--clr-primary);
        display: flex;
        gap: 20%;
        @media screen and (max-width: 511px) {
            padding-bottom: 75px;
            flex-direction: column;
            gap: 25px;
        }
        h1 {
            margin-bottom: 10px;
            font-size: 1.3em;
            font-weight: bold;
            color: var(--clr-secondary);
        }
        a {
            line-height: 1.5;
            font-size: 1.1em;
            color: var(--clr-secondary);
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__services, &__teams, &__general {
        display: flex;
        flex-direction: column;
    }
    // COPYRIGHT
    &__copyright {
        position: absolute;
        bottom: 25px;
        right: 50px;
        color: var(--clr-septenary);
    }
}
  