<header class="header">
    <a class="header__logo" href="#" routerLink="">
        <img src="/assets/img/header_logo.png" alt="Finally-Fit Logo" />
    </a>
    <nav>
        <ul class="header__menu">
            <li>
                <a class="btn" href="#" routerLink="">Accueil</a>
            </li>
            <li>
                <a class="btn" href="#">Tarifs</a>
            </li>
            <li class="header__menu__under">
                <a class="btn select-title" href="#">Cours</a>
                <ul>
                    <li class="btn">
                        <a href="#">Individuels</a>
                    </li>
                    <li class="btn">
                        <a href="#">Collectifs</a>
                    </li>
                </ul>
            </li>
            <li class="header__menu__under">
                <a class="btn select-title" href="#"routerLink="clublist">Clubs</a>
                <ul>
                    <li class="btn" routerLink="club">
                        <a href="#">Lens</a>
                    </li>
                    <li class="btn" routerLink="club">
                        <a href="#">Lambersart</a>
                    </li>
                    <li class="btn"routerLink="club">
                        <a href="#">Lille</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="header__secondary-menu__logout" *ngIf="authUser.role === 0">
        <a class="btn header__sign-in" href="#" routerLink="login">Connexion</a>
        <a class="btn header__sign-on" href="#" routerLink="registration">Inscription</a>
    </div>
    <div class="header__secondary-menu__login" *ngIf="authUser.role !== 0">
        <ul class="header__menu">
            <li class="header__menu__under">
                <a class="btn select-title" href="#">Mon compte</a>
                    <ul>
                        <li class="btn">
                            <a href="#">Canard</a>
                        </li>
                        <li class="btn">
                            <a href="#">Chat</a>
                        </li>
                    </ul>
            </li>
        </ul>  
        <button class="btn header__log-out" (click)="logOut()">Déconnexion</button>
    </div>
    <div class="header__burger">
        <a href="#">
            <img src="/assets/img/hamburger_icon.png" alt="Burger Icon">
        </a>
    </div>
</header>