<header class="header">
    <a class="header__logo" href="#" routerLink="">
        <img src="/assets/img/header_logo.png" alt="Finally-Fit Logo" />
    </a>
    <nav>
        <ul class="header__menu">
            <li>
                <a class="btn" href="#" routerLink="">Accueil</a>
            </li>
            <li>
                <a class="btn" href="/tarif">Tarifs</a>
            </li>
            <li class="header__menu__under">
                <a class="btn select-title" href="#">Cours</a>
                <ul>
                    <li class="btn">
                        <a href="#">Individuels</a>
                    </li>
                    <li class="btn">
                        <a href="#">Collectifs</a>
                    </li>
                </ul>
            </li>
            <li class="header__menu__under">
                <a class="btn select-title" href="#">Clubs</a>
                <ul>
                    <li class="btn" *ngFor="let club of clubList">
                        <a href="#">{{club.name}}</a>
                    </li>
                    <li class="btn">
                        <a href="#">Voir la liste</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="header__secondary-menu__logout" *ngIf="!authUser">
        <a class="btn header__sign-in" href="#" routerLink="login">Connexion</a>
        <a class="btn header__sign-on" href="#" routerLink="registration">Inscription</a>
    </div>
    <div class="header__secondary-menu__login" *ngIf="authUser && authUser.role != null">
        <ul class="header__menu">
            <li class="header__menu__under">
                <a class="btn select-title" href="#">Mon compte</a>
                    <ul>
                        <li class="btn">
                            <a href="#" routerLink="user">Mes Infos</a>
                        </li>
                        <li class="btn" *ngIf="authUser && (authUser.role == 1 || authUser.role == 2)">
                            <a href="#" routerLink="reservation">Réservations</a>
                        </li>
                        <li class="btn" *ngIf="authUser && (authUser.role == 8 || authUser.role == 4 )">
                            <a href="#" routerLink="admin">Administration</a>
                        </li>
                        <li class="btn" *ngIf="authUser && (authUser.role == 8 || authUser.role == 4 )">
                            <a href="#">Statistiques</a>
                        </li>
                    </ul>
            </li>
        </ul>  
        <button class="btn header__log-out" (click)="logOut()">Déconnexion</button>
    </div>
    <div class="header__burger">
        <a href="#">
            <img src="/assets/img/hamburger_icon.png" alt="Burger Icon">
        </a>
    </div>
</header>