.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100px;
    padding: 0 100px 0 50px;
    background-color: var(--clr-secondary);
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 9fr 2fr;
    gap: 100px;
    // GENERAL
    a {
        color: var(--clr-primary);
    }
    // LOGO
    &__logo {
        grid-column: 1;
        img {
            width: 96px;
        }
    }
    // MENU
    nav {
        grid-column: 2;
        justify-self: end;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 20px;
        li {
            position: relative;
        }
        a:hover {
            background-color: var(--clr-quaternary);
        }
        &__under {
            .select-title::after {
                content: '▼';
                margin-left: 10px;
                font-size: 12px;
            }
            ul {
                display: none;
                position: absolute;
                top: 175%;
                min-width: 100%;
                border-radius: 5px;
                background-color: var(--clr-secondary);
                cursor: pointer;
                li {
                    width: 100%;
                    &:hover {
                        background-color: var(--clr-quaternary);
                    }
                }
            }
            &:hover ul {
              display: block;
            }
        }
    }
    // 2ND MENU
    &__secondary-menu {
        grid-column: 3;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &__sign-in {  
        background-color: var(--clr-quaternary);
    }
    &__sign-on {  
        background-color: var(--clr-tertiary);
    }
}