<header class="header">
    <a class="header__logo" href="#" routerLink="">
        <img src="/assets/img/header_logo.png" alt="Finally-Fit Logo" />
    </a>
    <nav>
        <ul class="header__menu">
            <li>
                <a class="btn" href="#" routerLink="">Accueil</a>
            </li>
            <li>
                <a class="btn" href="#">Tarifs</a>
            </li>
            <li class="header__menu__under">
                <a class="btn select-title" href="#">Cours</a>
                <ul>
                    <li class="btn">
                        <a href="#">Individuels</a>
                    </li>
                    <li class="btn">
                        <a href="#">Collectifs</a>
                    </li>
                    <li class="btn">
                        <a href="#">Maisons</a>
                    </li>
                </ul>
            </li>
            <li class="header__menu__under">
                <a class="btn select-title" href="#">Salles</a>
                <ul>
                    <li class="btn">
                        <a href="#">Salle 1</a>
                    </li>
                    <li class="btn">
                        <a href="#">Salle 2</a>
                    </li>
                    <li class="btn">
                        <a href="#">Salle 3</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="header__secondary-menu">
        <a class="btn header__sign-in" href="#">Connexion</a>
        <a class="btn header__sign-on" href="#">Inscription</a>
    </div>
</header>