<div class="forget-password">
    <h1>Mot de passe oublié</h1>
    <div class="forget-password__card">
        <img src="/assets/img/Duck_Antoine.jpg" alt="Canard sportif">
        <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <input type='email' formControlName="email" maxlength="256" placeholder="Email" />
            <div class="form__btns">
                <button class="btn forget-password__cancel" (click)="onCancel()">Annuler</button>
                <button class="btn forget-password__valid" type='submit' [disabled]="formGroup.invalid">Envoyer</button>
            </div>  
        </form>
        <a href="#" routerLink="/registration">Inscription</a>
    </div>
</div>