<div class="resa-form">
    <h1>Reservation</h1>
    <div class="resa-form_form">
        <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
            <select formControlName="selectedCourse" class="courseSelect">
                   <option *ngFor = "let course of courseList"
                   [value]="course.id">
                    {{course.title}}
                   </option> 
            </select>
            <div class="form__btns">
                <button class="btn registration__cancel" (click)="onCancel()">Annuler</button>
                <button class="btn registration__valid" type='submit'>Valider</button>
            </div>
        </form> 
    </div>
</div>