<div class="resa-form">
    <h1>Reservation</h1>
    <div class="resa-form_form">
        <!-- <form class="form" [FormGroup]="formGroup" (ngSubmit)="onSubmit()" >
            <ng-select formControlName="selectedCourse" class="courseSelect">
                   <ng-option *ngfor let course of courseList
                   [value]="course.id">
                    {{course.title}}
                   </ng-option> 
            </ng-select>
            <input type="date" class="resa-form_form_date" formControlName="requestDate">
        </form> -->
    </div>
</div>