.container{
    padding:10px;
}
.tftable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    border-width: 1px;
    border-color: #007BFF;
    border-collapse: collapse;
}

.tftable th {
    font-size: 12px;
    background-color: #007BFF;
    border-width: 2px;
    padding: 8px;
    border-style: solid;
    border-color: #007BFF;
    text-align: left;
    padding: 10px !important;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.tftable td {
    font-size: 12px;
    padding: 8px;
}
.tftable tr td:first-child {
    border-left-width: 1px;
    border-style: solid;
    border-color: #007BFF;
}
.tftable tr td:last-child {
    border-right-width: 1px;
    border-style: solid;
    border-color: #007BFF;
}
.tftable tr:last-child td {
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #007BFF;
}


label, input{
    display: block;
}
input:not([type="submit"]){
    width: 100%;
    padding: 4px 2px;
    border-radius: 3px;
    border:1px solid silver;
}
input[type="submit"]{
    color:#fff;
    padding: 5px;
    background-color: #007BFF;
    border: none;   
    float: right;
}
.btn.danger{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ff0800;
    color:#fff;
    padding: 5px;
    border: none;   
    float: right;
}