.table{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.table .col{
    display: block;
    padding: var(--default-padding);
    width: 24%;
}
.table .row:nth-child(01){
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 985px) {
    .table{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    .table .col{
        width: 100%;
        display: block;
    }
}