<div class="c_container">
    <div class="cardList">

        <div class="card" *ngFor="let user of teamList">
            <div class="cover"></div>
            <div class="content">
                <div class="profil" [ngStyle]="{'background-image': 'url(/assets/img/avatars/default_avatar.jpg)'}" ></div>
                <div>
                    <p class="identity">{{user.firstName}} {{user.lastName}}</p>
                    <p class="job">{{user.job}}</p>
                    <p class="description">{{user.description === null ? "Pas de biographie pour "+user.firstName+".\r" : user.description}}</p>
                </div>
            </div>
        </div>

    </div>
</div>
