.registration {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    h1 {
        color: var(--clr-secondary);
    }
    &__card {
        padding: 50px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        h3 {
            margin-bottom: 5px;
            color: var(--clr-secondary);
        }
        img {
            width: 100px;
        }
        .form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            label {
                font-weight: 600;
                color: var(--clr-secondary);
            }
            input {
                padding: 10px;
                border: 0;
                border-bottom: 1px solid gray;
                outline: 0;
                background-color: var(--clr-primary);
            }
            div {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }
            .form__birthDate {
                align-items: center;
                input {
                    width: 60%;
                }
            }
            .form__address-number {
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                input {
                    width: 75px;
                }
            }
            .form__address-street {
                input {
                    width: 100%;
                }
            }
            .form__address-complement {
                input {
                    width: 100%;
                }
            }
            .form__cguv {
                justify-content: flex-start;
                align-items: center;
                gap: 0;
            }
            .form__btns {
                justify-content: flex-end;
                button {
                    border: 0;
                    color: var(--clr-primary);
                    &:disabled {
                        border: 1px solid gray;
                        background-color: initial;
                        color: gray;
                        &:hover {
                            filter: none;
                        }
                    }
                }
            }
        }
        a {
            font-size: 0.8em;
            color: var(--clr-septenary)
        }
    }
    &__valid {
        background-color: var(--clr-tertiary);
    }
    &__cancel {
        background-color: var(--clr-senary);
    }
}
