<div class="legal-notice">
    <h1>Mentions légales</h1>

    <p>
        Lorem ipsum dolor sit amet. Sit nihil laborum vel dolores rerum est itaque dolorem nam iure aliquam eos tempore
        veniam. Vel optio fugit et vitae corrupti et dolores facere aut corrupti aspernatur ut magni temporibus nam
        minima reprehenderit. Et voluptate omnis ut sunt dolorem aut unde voluptatibus At odio voluptas. Ut magnam
        cumque aut quia rerum 33 enim quisquam! Non maxime praesentium et velit laboriosam aut ipsam ratione et rerum
        sunt sed excepturi numquam qui quam eligendi vel minus praesentium?
    </p>

    <p>
        Hic ipsa ipsa et ducimus ducimus aut minus incidunt aut velit maxime hic voluptates illo quo enim animi! Et
        inventore quia qui fuga enim ut delectus reiciendis qui pariatur consequatur a consequatur rerum id autem nihil
        et consequatur similique. Et similique esse aut amet voluptatem sit tempora dignissimos ex molestias voluptatem
        est iste libero eum repellat voluptates. Id ratione dolorem sit eius dolores ea nihil quas ut maxime
        accusantium! Non harum quis sed ipsam maxime vel corporis dolor non sunt eligendi a nihil magnam. Et illum
        impedit aut mollitia commodi et ducimus esse ea dolores voluptatem id atque laudantium. Ut perferendis quia et
        voluptatem autem vel sunt esse et recusandae amet non temporibus cupiditate quo necessitatibus commodi ea iste
        sapiente.
    </p>

    <p>
        Vel dolorem laboriosam aut cumque facere ut nesciunt repudiandae ut autem galisum At dolor rerum? Ex beatae
        fugit ut aliquam provident At beatae sint id autem eaque et corporis consequuntur sit dolor mollitia sed velit
        veritatis? Quo quasi laudantium ea voluptatem facere eum tempore voluptatem ea quos deleniti rem minima
        voluptatem. A necessitatibus optio in fuga internos et culpa adipisci qui laboriosam necessitatibus sit
        doloribus error est sunt asperiores cum sunt labore! Non quia excepturi aut iste eius cum optio voluptatibus.
        Est Quis expedita ut eveniet beatae sit optio repellat enim aperiam est distinctio harum qui recusandae minima
        est nisi quam. In quas deleniti qui voluptatem voluptatem 33 fugiat numquam. Nam atque magnam At esse molestiae
        cum molestiae iusto non expedita repudiandae. Hic consequatur tenetur hic quaerat praesentium a blanditiis quia
        33 perferendis neque quo corrupti distinctio eum illo voluptates aut ipsam galisum!
    </p>

    <div class="info-ss">
        <p>
            Raison sociale: Finally-Fit
        </p>
        <p>
            Téléphone: +33 123 45 67 89
        </p>
        <p>
            Courriel: contact@finally.fit
        </p>
        <p>
            Adresse: 1, Boulevard du Général de Gaulle, 59000 LILLE
        </p>
        <p>
            Siret: 000 111 222 33333
        </p>
        <p>
            N° TVA: FR123456789
        </p>
        <p>
            Code NAF/APE: 9311Z/Gestion d'installations sportives
        </p>
    </div>

    <p>
        Responsable de la publication: Père Castor
    </p>

    <div class="info-site">
        <h2>Hébergement du site: </h2>
        <p>
            Adresse: LWS, 10 Rue Penthievre, 59000 LILLE, FRANCE
        </p>
        <p>
            Téléphone: +33 177 62 30 03
        </p>
    </div>

</div>