.legal-notice {
    padding: 50px 100px;
    background-color: var(--clr-primary);
    line-height: 1.5;
    text-align: justify;
    color: var(--clr-secondary);
    h1 {
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: bold;
    }
    p {
        margin-bottom: 25px;
        font-size: 1.1em;
    }
    .info-ss {
        margin: 50px 0;
        line-height: 0.5;
    }
    .info-site {
        h2 {  
            margin-bottom: 15px;
            font-weight: bold;
        }
        p {
            margin-bottom: 15px;
            line-height: 0.5;
        }
    }
}