.btn.danger{
    background-color: #f44336;
    border-color: #f44336;
    color: #fff;
    padding: 5px;
    float: right;
}

.container{
    padding: 10px;
}
h1{
    margin-bottom: 15px;
}
p.info{
    margin-left:25px;
}
p:not(.info) > p.info{
    color:red;
}
.email, .phone{
    display: flex;
    margin-top:15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.confirmation2{
    margin-top: 15px;
}
p svg{
    margin-right: 5px;
}