.btn.danger{
    background-color: var(--clr-senary);
    border-color: var(--clr-senary);
    color: var(--clr-primary);
    padding: 5px;
    float: right;
}

.container{
    position: relative;
    top: -100px;
    padding: 50px;
}
h1{
    margin-bottom: 15px;
}
p.info{
    margin-left:25px;
}
p:not(.info) > p.info{
    color: var(--clr-septenary);
}
.email, .phone{
    display: flex;
    margin-top:15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.confirmation2{
    margin-top: 15px;
}
p svg{
    margin-right: 5px;
}