<div class="user-login">
    <h1>Connexion</h1>
    <div class="user-login__card">
        <img src="/assets/img/Duck_Antoine.jpg" alt="Canard sportif">
        <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <input type='email' formControlName="email" maxlength="256" placeholder="Email" />
            <input type='password' formControlName="password" maxlength="256"  placeholder="Mot de passe" />
            <div class="form__btns">
                <button class="btn user-login__cancel" (click)="onCancel()">Annuler</button>
                <button class="btn user-login__valid" type='submit' [disabled]="formGroup.invalid">Connexion</button>
            </div>  
        </form>
        <a href="#" routerLink="forget">Mot de passe oublié ?</a>
    </div>
</div>
