<div class="c_container">
    <div class="cardList">
        <div class="card">
            <div class="cover" style="background-image: url('/assets/img/clubs/drawable-xxxhdpi/club_lille.jpeg');"></div>
            <div class="content">
                <div class="detailList">                
                    <p class="description">Lille</p>
                    <p class="adresse">Rue du Crossfit</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="cover" style="background-image: url('/assets/img/clubs/drawable-xxxhdpi/club_lambersart.jpeg');"></div>
            <div class="content">
                <div class="detailList">                
                    <p class="description">Lambersart</p>
                    <p class="adresse">Rue du tapis</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="cover" style="background-image: url('/assets/img/clubs/drawable-xxxhdpi/club_lens.jpeg');"></div>
            <div class="content">
                <div class="detailList">                
                    <p class="description">Lens</p>
                    <p class="adresse">Rue de la poulie</p>
                </div>
            </div>
        </div>
    </div>
</div>
