<div class="c_container">
    <div class="cardList">
        <div class="card">
            <div class="cover"></div>
            <div class="content">
                <div class="clubs" style="background-image: url('..assets/images/clubs/drawable-xxxhdpi/Lille');"></div>
                <div class="detailList">
                    <p class="description">Lille</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="cover"></div>
            <div class="content">
                <div class="clubs" style="background-image: url('..assets/images/clubs/drawable-xxxhdpi/Lambersart');"></div>
                <div class="detailList">
                    <p class="description">Lambersart</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="cover"></div>
            <div class="content">
                <div class="clubs" style="background-image: url('..assets/images/clubs/drawable-xxxhdpi/Lens');"></div>
                <div class="detailList">
                    <p class="description">Lens</p>
                </div>
            </div>
        </div>
    </div>
</div>
