<div class="c_container">
    <h1>Nos salles de sport</h1>
    <div class="cardList">
        <div class="card">
            <img class="cover" src='/assets/img/clubs/drawable-xxxhdpi/club_lille.jpeg'>
            <div class="content">
                <div class="detailList">                
                    <p class="description">Lille</p>
                    <p class="adresse">Rue du Crossfit</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="cover" src='/assets/img/clubs/drawable-xxxhdpi/club_lille.jpeg'>
            <div class="content">
                <div class="detailList">                
                    <p class="description">Lambersart</p>
                    <p class="adresse">Rue du tapis</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="cover" src='/assets/img/clubs/drawable-xxxhdpi/club_lille.jpeg'>
            <div class="content">
                <div class="detailList">                
                    <p class="description">Lens</p>
                    <p class="adresse">Rue de la poulie</p>
                </div>
            </div>
        </div>
    </div>
</div>
