.c_container{
    padding: var(--default-padding);
}

div.cardList{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center
}
div.cardList div.card{
    display: inline-block;
    width: 80%;
    height: auto;
    border: 0px;
    -webkit-box-shadow: 5px 5px 15px 5px #cfcfcf; 
    box-shadow: 5px 5px 15px 5px #cfcfcf;
}
div.cardList div.card + div.card{
   margin-top:15px;
}
div.cardList div.card div{
    display: block;
    width: 100%;
}
div.cardList div.card div.cover{
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 100px;
    width: 100%;
}

div.cardList div.card div.club{
    display: block;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100px !important;
    height: 100px;  
    border-radius: 50%;
    background: round;
    position: relative;
    bottom: 50px;
    left:100px;
}
div.cardList div.card div.detailList{
    position: relative;
    bottom: 5px;
    width: 100%;
}
div.cardList div.card .description{
    font-weight: bold;
    text-align: center;
}
div.cardList div.card .adresse{
    text-align: center;
    color: gray;
    margin-bottom: 10px;
}

@media screen and (max-width:80vh) {
    div.cardList{
        flex-direction: column; 
        align-items: center 
    }
}