<div class="container center">
    <h1>Nos offres</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae molestias blanditiis sed facere deleniti labore.</p>
    <p>&nbsp;</p>
    <table class="GeneratedTable">
        <thead>
            <tr>
                <th></th>
                <th>Basic</th>
                <th>Premium</th>
            </tr>
            <tr>
                <th>Options</th>
                <th>15€</th>
                <th>25€</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem</td>
                <td><span class="checked"></span></td>
                <td><span class="checked"></span></td>
            </tr>
            <tr>
                <td>Ipsum</td>
                <td></td>
                <td><span class="checked"></span></td>
            </tr>
            <tr>
                <td>Vacuum</td>
                <td></td>
                <td><span class="checked"></span></td>
            </tr>
            <tr>
                <td>Quam</td>
                <td><span class="checked"></span></td>
                <td><span class="checked"></span></td>
            </tr>
            <tr class="center">
                <td></td>
                <td><button>Acheter</button></td>
                <td><button>Acheter</button></td>
            </tr>
        </tbody>
    </table>
</div>